h1 {color: red;
    text-align: center;
    font-size: 50px;
    }

.def
{width: 100%;
font-size: 25px;}


#table1
{width: 100%;
table-layout: fixed;}


.lanc_kep
{width: 100%}

.lanc_leir
{width: 20%;}


#table2
{width: 100%;
table-layout: fixed;
}

.med_kep
{width: 100%;
}

.med_leir
{width: 15%;}


#table3
{width: 100%;
table-layout: fixed;
}

.kar_kep
{width: 100%;}

.kar_leir
{width: 20%;}



#table4
{width: 100%;
table-layout: fixed;}

.gyuru_kep
{width: 100%}

.gyuru_leir
{width: 20%;}





#table5
{width: 100%;
table-layout: fixed;
}

.ful_kep
{width: 100%;
}

.ful_leiras
{width: 20%;}

.lopi
{text-align: center;}

.urlap
{text-align: center;}

.megrendi
{color: red;
    text-align: center;
    font-size: 40px;
    }





