

h1 {color: red;
    text-align: center;
    font-size: 50px;
    }
    
    .xyz 

       
    {width: 95%;        
    border: none;
    font-size: xx-large;
    }




#table1 {width: 95%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}


#table4, #table5 {width: 95%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
}



th {text-align: center; border: solid blue; width: 20%;}
th.xyz {text-align: center; border: none; width: 20%;}
th.table3 {text-align: left; border: none; width: 26%; }

.img-div1 
{width: 100%;
background-color:blanchedalmond;
display: inline-block;
}

.img-div2 
{width: 100%;
background-color: blanchedalmond;
display: inline-block;
margin-top: 20px;}


.img-div3 
{width: 100%;
background-color: blanchedalmond;
display: inline-block;
margin-bottom: 1px;}


.lopi
{text-align: center}


img
{
    width: 22%;
    margin: 20px;
    box-shadow: 3px 3px 7px black;
}



