#colorDiv 
{display: inline-block;
width: 100px;
height: 100px;
background-color: rgba(100, 20, 0, 0.7);}


html
{background-color: #e0e0e0;
background-image: url(../img/ölelés.jpg);
background-size: 50%; }


/*

2-es számrendszer 01
3-as számrendszer 012
10-es számrendszer 0123456789
16-os számrendszer 0123456789ABCDEF

255 (10) = FF (16)
(10)255= 2*100 + 5*10 + 5*1
16 FF= F*16 + F*1

rgb(255, 255, 255) = #FFFFFF

*/
