h1 {color: saddlebrown;
    text-align: center;
    font-size: xx-large;
    }

    .img-div4 
    {width: 100%;
    background-color:blanchedalmond;
}  

.xyz 

{width: 95%;
font-size: 25px;}





#table5 {width: 92%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 25px;
}


#table6, #table7 {width: 95%;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
}
    img {
        width: 23%;
        height:300px;
        margin: 10px;
        box-shadow: 3px 3px 7px black;
        display: inline-block;
        }    
        
        th.table6 {text-align: left; border: none; width: 26%; }

    
    
    .urlap
    {text-align: center;}