h1 {color: red;
    text-align: center;
    font-size: 50px;
    }
    
    table.abc {width: 95%;
        margin-left: 20px;
        margin-right: 25px;
        border: none;
        font-size: large;
    }

    table#def {width: 95%;
        margin-left: 20px;
        margin-right: 25px;
        margin-top: 60px;
        border: none;
        font-size: xx-large;
    }

    #table1

    {width: 100%;
    }

    img.prs

    {width: 102%;}

    
    table#table2
    {width: 100%;
    margin-right: 5px;
    margin-bottom: 40px;}

    td.ktpj
{text-align: left;}

#table3

    {width: 100%;}

    
    img.rs

    {width: 102%;}

    #table5

    {width: 100%;}

    #table6

    {width: 100%;
    margin-top: 30px;}

.lopi
{text-align: center;}
    
    img.kti
    {width: 200px}

    #sg10

    {width: 50%}

    .urlap
    {text-align: center;}

    


    
    





        


